<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="https://static.vecteezy.com/system/resources/previews/000/104/368/non_2x/free-soccer-field-vector.jpg">
        <span class="card-title">Field name</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="onAddField()"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>Information about the field</p>
      </div>
    </div>
  </div>
</div>
          