<nav class="green darken-3">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">
      <img src="./app/images/logo-minimize.svg"/>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">צור קשר</a></li>
      <li><a href="#">מידע</a></li>
      <li><a href="#">מגרשים</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">צור קשר</a></li>
      <li><a href="#">מידע</a></li>
      <li><a href="#">מגרשים</a></li>
    </ul>
  </div>
</nav>