<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">צור קשר</a></li>
      <li><a href="collapsible.html">מידע</a></li>
      <li><a href="mobile.html">מגרשים</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">צור קשר</a></li>
      <li><a href="collapsible.html">מידע</a></li>
      <li><a href="mobile.html">מגרשים</a></li>
    </ul>
  </div>
</nav>